/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button.btn-primary {
  background-color: #237291;
  border-color: #237291;
}

button.btn-primary:hover {
  background-color: #1b5972;
  border-color: #1b5972;
}

.pagination>li>a {
  background-color: white;
  color: #237291;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #237291;
  background-color: #eee;
  border-color: #237291;
}

.pagination>.active>a:hover {
  background-color: #237291;
  border: solid 1px #237291;
}


.pagination>.active>a {
  color: white;
  background-color: #237291 !important;
  border: solid 1px #237291 !important;
}

footer {
  background-color: #eef2e2;
}

.footer_link {
  color: #237291
}

.footer_link:hover{
  opacity: 0.5 ;
}

body.open_popup {
  overflow: hidden;
}

.js-bg_onetime_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

body.open_popup .js-bg_onetime_popup {
  opacity: 1;
  visibility: visible;
}

.js-onetime_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  min-width: 300px;
  background-color: #fff;
}

.js-onetime_popup_title {
  position: relative;
  padding: 1em 80px;
  margin: 0px;
  background-color: #237291;
  color: #fff;
  font-size: 32px;
  text-align: center;
  line-height: 1.5;
}

.js-onetime_popup_title_close {
  position: absolute;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
.js-onetime_popup_title_close::before,
.js-onetime_popup_title_close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}
.js-onetime_popup_title_close::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.js-onetime_popup_title_close::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.js-onetime_popup_content {
  padding: 60px 30px;
  text-align: center;
}
